<header>
  <img alt="Angular" class="docs-angular-logo" src="assets/angular-white-transparent.svg">
  <h1>{{title}}</h1>
</header>

<!--Ward, these are other navs I'm experimenting with. If you uncomment them, you'll see them.-->
<!--
<md-toolbar color="primary">
    <span>Menu</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>lock_open</md-icon>
        <span>Option 1</span>
      </button>
      <button md-menu-item>
        <md-icon>developer_mode</md-icon>
        <span>Option 2</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>ondemand_video</md-icon>
        <span>Option 3</span>
      </button>
      <button md-menu-item>
        <md-icon>help_outline</md-icon>
        <span>Help</span>
      </button>
    </md-menu>
</md-toolbar>

<md-tab-group>
  <md-tab label="Area 1"></md-tab>
  <md-tab label="Area 2"></md-tab>
</md-tab-group>-->

<app-sidenav></app-sidenav>



