
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav">
    <ul class="vertical-menu">
      <li><a href="page1.html" class="menu-heading">Section 1</a></li>
      <ul class="vertical-menu">
        <li><a href="page1a.html">page</a></li>
        <li><a href="page1b.html">page</a></li>
        <li><a href="page1c.html">page</a></li>
        <li><a href="page1d.html">page</a></li>
      </ul>
      <li><a href="page2.html" class="menu-heading">Section 2</a></li>
      <ul class="vertical-menu">
        <li><a href="page2a.html">page</a></li>
        <li><a href="page2b.html">page</a></li>
        <li><a href="page2c.html">page</a></li>
        <li><a href="page2d.html">page</a></li>
      </ul>
      <li><a href="page3.html" class="menu-heading">Section 3</a></li>
      <ul class="vertical-menu">
        <li><a href="page3a.html">page</a></li>
        <li><a href="page3b.html">page</a></li>
        <li><a href="page3c.html">page</a></li>
        <li><a href="page3d.html">page</a></li>
      </ul>
    </ul>
  </md-sidenav>
  <div class="sidenav-content">
    <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
    <div class="main-content">
      <p>Put content here.</p>
    </div>
  </div>
</md-sidenav-container>
