
/************************************

            Media queries

To use these, put this snippet in the approriate selector:

    @include bp(tiny) {
        background-color: purple;
    }

    Replace "tiny" with "medium" or "big" as necessary.

*************************************/

@mixin bp($point) {

  $bp-xsmall: "(min-width: 320px)";
  $bp-teeny: "(min-width: 480px)";
  $bp-tiny: "(min-width: 600px)";
  $bp-small: "(min-width: 650px)";
  $bp-medium: "(min-width: 800px)";
  $bp-big: "(min-width: 1000px)";

  @if $point == big {
    @media #{$bp-big} { @content; }
  }
  @else if $point == medium {
    @media #{$bp-medium} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }
  @else if $point == tiny {
    @media #{$bp-tiny}  { @content; }
  }
  @else if $point == teeny {
    @media #{$bp-teeny}  { @content; }
  }
  @else if $point == xsmall {
    @media #{$bp-xsmall}  { @content; }
  }
}

/************************************/



/*side nav*/

.sidenav-container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  height: 100%;
}

.sidenav-content button {
  min-width: 50px;
}

.sidenav {
  padding: 0;
}

.vertical-menu {
  padding-left: 0;
}

.vertical-menu {
  li {
    list-style-type: none;
    border-bottom: 1px #f1f1f1 solid;
  }
}

.vertical-menu a {
  display: block;
  min-width: 160px;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    background-color: #f9f9f9;
  }
}

.menu-heading {
  background-color: #efefef;
  color: #444;
  padding: 10px;
  cursor: pointer;
  position: relative;
  min-width: 160px;
  .material-icons {
    position: absolute;
    top: 8px;
    right: 11px;
  }
}

.main-content {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.sub-level-1 {
  padding-left:10px;
}
.sub-heading-2 {
  // padding-left: 20px;
}

.sub-level-2 {
  padding-left: 30px;
}

.sub-heading-3 {
  padding-left: 30px;
}

.sub-level-3 {
  padding-left: 50px;
}

