@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1 {
  margin: 0;
  display: inline-block;
  font-weight: 200;
}

header {
  background-color:#3f51b5;
  color: #fff;
  padding: .5rem;
  -webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.25);
}

header img {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
}

/*for toolbar*/
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


/*side nav*/
.sidenav-container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  height: 100%;
}

.sidenav-content button {
  min-width: 50px;
}

.sidenav {
  padding: 0;
}

.vertical-menu {
  padding-left: 0;
}

.vertical-menu li {
  list-style-type: none;
  border-bottom: 1px #ddd solid;
}

.vertical-menu a {
  display: block;
  padding: 10px 50px;
  cursor: pointer;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: #ddd;
}

.menu-heading {
  background-color: #bbb;
  color: #fff;
}

.main-content {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

